@model ProductsByTagViewModel;

﻿<section class="best-collection my-4">
    <div class="container">
        <h1 class="products-title">@Model.Title</h1>

        <div class="collection-grid">
            @foreach (var product in Model.NewProducts)
            {
                <a asp-action="Index" asp-controller="ProductDetails" asp-route-articleNumber="@product.ArticleNumber" class="collection-item">
                    <img class="poster-image" src="@product.ImageUrl" alt="Posters" />
                    <div class="body">
                        <div class="title"> @product.ProductName</div>
                        
                        <div class="info">
                            <div class="price">@product.Price SEK</div>
                            <i class="add-cart fa-solid fa-cart-plus"></i>
                        </div>
                    </div>
                </a>
                
            }
        </div>
        <div class="collection-grid">
            @foreach (var product in Model.PopularProducts)
            {
                <a asp-action="Index" asp-controller="ProductDetails" asp-route-articleNumber="@product.ArticleNumber" class="collection-item">
                    <img class="poster-image" src="@product.ImageUrl" alt="Posters">
                    <div class="body">
                        <div class="title"> @product.ProductName</div>
                        <div class="info">
                            <div class="price">@product.Price SEK</div>
                            <i class="add-cart fa-solid fa-cart-plus"></i>
                        </div>
                    </div>
                </a>

            }
        </div>
                <div class="collection-grid">
            @foreach (var product in Model.FeaturedProducts)
            {
                <a asp-action="Index" asp-controller="ProductDetails" asp-route-articleNumber="@product.ArticleNumber" class="collection-item">
                    <img class="poster-image" src="@product.ImageUrl" alt="Posters">
                    <div class="body">
                        <div class="title"> @product.ProductName</div>
                        <div class="info">
                            <div class="price">@product.Price SEK</div>
                            <i class="add-cart fa-solid fa-cart-plus"></i>
                        </div>
                    </div>
                </a>

            }
        </div>

        
    </div>
</section>